<div class="home-page-content">
  <h1 class="home-page-content__primary-heading">Chat with friends fast</h1>
  <div class="home-page-content__sec-heading-btn-container">
    <h4 class="home-page-content__sec-heading">Enjoy real time communication on the web with your friends and loved ones. No downloads, no setup, just login and start chatting with friends online.</h4>
    <button id="home-sign-up-btn" class="home-page-content__signup-btn">Sign up</button>
  </div>
  
</div>
