<%= link_to 'Fast-chat logo', root_path, :class => 'item'%>
<div class="right menu">
  <div class="item">
    Home
  </div>
  <div class="item">
    <div class="ui primary button">Login</div>
  </div>
</div>

